*{
    padding: 0;
    margin: 0;
}

body{

    background: url(bg_img.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;

}

.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
}

.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: gray
}

.login_form{
    padding: 20px 40px;
}

.login_form .font{
    font-size: 18px;
    color: gray;
    margin: 5px 0;
}

.login_form .input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.login_form .font2{
    margin-top: 30px;
}

.login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: whitesmoke;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: black;
    border-radius: 3px;
    border: 1px solid whitesmoke;
}